.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.logo {
  border-radius: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}