.header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 6rem;
  &-welcome {
    height: 12rem;
  }
}

.logo {
  background-image: url("https://rolling-scopes-school.github.io/yuliyaminsk-JSFE2021Q3/art-quiz/assets/images/art-quiz-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 113px;  

  @media (min-width: $mq3) {
    width: 440px;
    height: 165px;
  }
}

.logo-navigate {
  width: 100px;
  height: 37px; 

  @media (min-width: $mq3) {
    width: 150px;
    height: 56px;
  }
}

.icon-back {
  background-image: url("https://rolling-scopes-school.github.io/yuliyaminsk-JSFE2021Q3/art-quiz/assets/icons/arrow-back.svg"); 
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 34px;
}

.icon-close {
  background-image: url("https://rolling-scopes-school.github.io/yuliyaminsk-JSFE2021Q3/art-quiz/assets/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center; 
}
