.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;  

  height: calc(100vh - 11rem);
  &-welcome {
    height: calc(100vh - 17rem);  
  }
  &-category {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.text-description {
  margin-bottom: 10px;
}
