$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1440px;
$mq1: $max-width-container;
$mq2: 1024px;
$mq3: 768px;
$mq4: 420px;

$color-primary: #ff6e40;
$color-additional: #ffc13b;
$color-disabled: #496680;
$color-light: #f5f0e1; 
$color-dark: #1e3d59;

$font1: 6rem;
$font2: 3rem;
$font3: 2rem;
$font4: 1.5rem;
$font5: 1rem;
